<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
    <title>Available Eggs</title>
</head>

<body>

    <div style="display: flex; flex-direction: row; flex-wrap: wrap">

        {% for eggs_available in eggs_available_collection %}

        {# Single Card Template:#}
        <div class="card" style="width: 18rem; margin: 10px">
            <div class="card-body">
                <div style="display: flex; flex-direction: row">
                    <h5 class="card-title">{{ eggs_available.created_on }}</h5>
                </div>
                <p class="card-text">Available Amount: {{ eggs_available.amount }}</p>
                <p class="card-text">{{ eggs_available.notes }}</p>
                <p class="card-text">{{ eggs_available.time_from_gather_date }}</p>
                
                <a href="{% url 'eggstra:details' eggs_available.id %}" class="btn btn-primary">Details</a>
                <a href="{% url 'eggstra:remove' eggs_available.id %}" class="btn btn-primary">Delete</a>
            </div>
        </div>

    </div>
    {% endfor %}

</body>

</html>