{% extends "eggstra/base.html" %}
{% block content %}

{% for eggs_available in eggs_available_collection %}
<div class="card text-center">
    <div class="card-header">
        User: {{ eggs_available.created_by }}
    </div>
    <div class="card-body">
        <h5 class="card-title">{{ eggs_available.created_on }}</h5>
        <p class="card-text">Beschikbaar: {{ eggs_available.amount }}</p>
        <p class="card-text">{{ eggs_available.notes }}</p>
        <p class="card-text">Location: {{ eggs_available.created_by.userprofile.location }}</p>
        
        <a href="{% url 'eggstra:pickup' eggs_available.id %}" class="btn btn-primary">Pickup</a>
        <a href="{% url 'eggstra:remove' eggs_available.id %}" class="btn btn-primary">Delete</a>
    </div>
    <div class="card-footer text-muted">
        {{ eggs_available.time_from_gather_date }}
    </div>
</div>
<br>
{% endfor %}

{% endblock content %}